
.font-size{
	font-size: 15px;
}

.background-button{
	background: #00a65a;
	color:white;
}

.spacing-buttons{
	padding-bottom: 8px;
}


.footer {
  bottom: 0;
  padding-top: 4px;
  background-color: #f5f5f5;
}

.type-badge {
  background-color: #43D975;
  border: solid 1px white;
}

@media (max-width: 600px) and (min-width: 200px) {
	label{
		font-size: 11px;
	}
	.id_p{
		font-size: 14px;
		display: none;
	}
	
}