<section class="content">
	<div class="col-lg-2 col-xs-4">
        <div class="col-lg-12 col-xs-12 pull-right spacing-buttons" style="padding-top:4px">
            <a class="btn btn-success btn-lg btn-block" ng-click="notify()" role="button" target="_blank">
                <i class="glyphicon glyphicon-floppy-saved"></i><br>Notificación
            </a>
        </div>
        <div class="col-lg-12 col-xs-12 pull-right spacing-buttons" style="padding-top:4px">
            <a class="btn btn-danger btn-lg btn-block" role="button" target="_blank">
                <i class="glyphicon glyphicon-remove"></i><br>Otro
            </a>
        </div><!-- ./col -->
        <div class="col-lg-12 col-xs-12 pull-right spacing-buttons" style="padding-top:4px">
            <a class="btn btn-primary btn-lg btn-block" role="button" target="_blank">
                <i class="glyphicon glyphicon-new-window"></i><br>Otro
            </a>
        </div>
	</div>
	<div class="col-lg-8 col-xs-8">
		<fieldset>
			<legend>Seleccione una Opción</legend>
				<div class="col-lg-12 col-xs-4">
			        <div class="col-lg-2 col-xs-4 spacing-buttons" style="padding-top:4px">
			            <a class="btn btn-success btn-lg btn-block" href="#/ficha" role="button">
			                <i class="glyphicon glyphicon-earphone"></i>
			            </a>
			        </div>
			        <div class="col-lg-10 col-xs-8">
			        	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			        </div>
			        <div class="col-lg-2 col-xs-4 spacing-buttons spacing-buttons" style="padding-top:4px">
				        <a class="btn btn-danger btn-lg btn-block" role="button" target="_blank">
				            <i class="glyphicon glyphicon-envelope"></i>
				        </a>
			        </div><!-- ./col -->
			        <div class="col-lg-10 col-xs-8">
			        	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			        </div><!-- ./col -->
			        <div class="col-lg-2 col-xs-4 spacing-buttons" style="padding-top:4px">
			            <a class="btn btn-primary btn-lg btn-block" role="button" target="_blank">
			                <i class="glyphicon glyphicon-new-window"></i>
			            </a>
			        </div>
			        <div class="col-lg-10 col-xs-8">
			        	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			        </div><!-- ./col -->
				</div>
		</fieldset>
	</div>
</section>